body {
    background-color: white;
}

/* Header */
.top-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    border: 2px black solid;
    background-color: lightseagreen;
  }